@media screen and (max-width: 768px) {
    .task-container {
        width: 80% !important;
    }

    .task-item {
        max-width: 50% !important;
    }
}

@media screen and (max-width: 468px) {
    .add-task {
        padding: 20px 70px !important;
    }

    .task-container {
        width: 90% !important;
    }

    #adding-task-field {
        width: 300px !important;
    }
}

@media screen and (max-width: 368px) {
    .add-task {
        padding: 20px 50px !important;
    }

    .add-task span {
        display: none;
    }

    .task-container {
        width: 100% !important;
    }

    #adding-task-field {
        width: 250px !important;
    }

    .icons-link {
        padding: 7px 18px !important;
    }
}

@media screen and (max-width: 320px) {
    .add-task {
        padding: 18px 50px !important;
    }

    #adding-task-field {
        width: 220px !important;
    }
}

@media screen and (max-width: 280px) {
    .add-task {
        padding: 16px 45px !important;
    }

    #adding-task-field {
        width: 170px !important;
    }
}

body {
    margin: 0;
    padding: 0;
    background: #111;
}

::-webkit-scrollbar {
    width: 8px;
    background: #181818;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #ff4000;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #111;
    gap: 200px;
}

.form-container {
    position: relative;
    top: 100px;
}

#adding-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 50px;
}

.add-task {
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    cursor: pointer;
    padding: 25px 75px;
    background: linear-gradient(to right, #4503fc, #27018f, #130147);
    color: #000;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    overflow: hidden;
    z-index: 1;
    gap: 5px;
}

.pulse {
    position: absolute;
    outline: none;
    border: none;
    border-radius: 50%;
    transform: scale(0);
    background: #caffff;
    animation: pulse 1s ease-out;
    z-index: -1;
}

@keyframes pulse {
    to {
        transform: scale(2.4);
        opacity: 0;
    }
}

#adding-task-field {
    user-select: none;
    width: 350px;
    height: 40px;
    padding: 6px 25px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    background: #525252;
    color: #acacac;
    transition: .12s;
}

.task-container {
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
}

#task-list {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
}

.option-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.task-item {
    margin-left: 10px;
    max-width: 70%;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial';
    word-wrap: break-word;
    letter-spacing: 1px;
}

.task-completed-container {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.custom-checkbox {
    width: 32px;
    height: 32px;
    display: inline;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #7d7d7d;
    border-radius: 5px;
}

.custom-checkbox:hover {
    border: 2px solid #7d7d7d;
}

.custom-checkbox:focus {
    border: 2px solid #8b8b8b;
}

.custom-checkbox:checked {
    background: url('../assets/checkmark.svg') center no-repeat #00cc66;
    border: none;
}

.delete-image {
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: inline;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 20px;
    transition: .2s;
}

.delete-image:hover {
    transform: rotateX(25deg);
}

.link-container {
    display: flex;
    position: absolute;
    width: 120px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.icons-link {
    position: relative;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background: linear-gradient(to right, #4503fc, #27018f, #08001f);
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-family: 'Tahoma';
    font-size: 16px;
    overflow: hidden;
    z-index: 1;
}
